TTN_NodeRed/flow.json
[{"id":"665ef0d1.e89168","type":"debug","z":"9b3686b0.61c56","name":"","active":true,"console":"false","complete":"true","x":470,"y":100,"wires":[]},{"id":"f883418.75dbbc","type":"file","z":"9b3686b0.61c56","name":"TTN LOG 2","filename":"/home/odroid/ttn_log2.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":494.5,"y":268,"wires":[]},{"id":"f8535d97.22d098","type":"ttn message","z":"9b3686b0.61c56","name":"TTN APP ttndevexp","app":"b59d5696.cde318","dev_id":"","field":"","x":176.5,"y":254,"wires":[["665ef0d1.e89168","f883418.75dbbc","37ca8ca9.9402ec"]]},{"id":"37ca8ca9.9402ec","type":"function","z":"9b3686b0.61c56","name":"Build node data object","func":"// Build an object that allows us to track\n// node data better than just having the payload\n\n//For the debug inject node. Comment out when in real use\n//var inmsg = msg.payload;\nvar inmsg = msg;  // from the TTN node\n\nvar newmsg = {};\nvar devicedata = {};\nvar betterRSSI = -1000;  // Start with a low impossible value\nvar betterSNR = -1000;\n\n// WARNING only works with String data\n// Use TTN decode functions is a better idea\nvar nodercvdata = inmsg.payload.toString(\"utf-8\");\n\ndevicedata.device = inmsg.dev_id;\ndevicedata.deviceserial = inmsg.hardware_serial;\ndevicedata.rcvtime = inmsg.metadata.time;\ndevicedata.nodedata = nodercvdata;\n\n// Iterate over the gateway data to get the best RSSI and SNR data\nvar gws = inmsg.metadata.gateways;\n\nfor ( var i = 0 ; i < gws.length; i++ ) {\n    var gw = gws[i];\n    if ( gw.rssi > betterRSSI )\n        betterRSSI = gw.rssi;\n        \n    if ( gw.snr > betterSNR )\n        betterSNR = gw.snr;\n}\n\ndevicedata.rssi = betterRSSI;\ndevicedata.snr = betterSNR;\n\nnewmsg.payload = devicedata;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["66b5a8bf.2ff748","ed62c061.9050e8","429ccbb7.fa59c4","af434ae.b88c5b8"]]},{"id":"3255a76f.1d60a","type":"inject","z":"9b3686b0.61c56","name":"","topic":"","payload":"{\"app_id\":\"ttndevexp\",\"dev_id\":\"arduino32u4\",\"hardware_serial\":\"0026C63B3D6FBD7F\",\"port\":1,\"counter\":0,\"payload_raw\":{\"type\":\"Buffer\",\"data\":[84,101,115,116,101,32,76,79,82,65,51,50,85,52,73,73,32,110,111,100,101,33]},\"metadata\":{\"time\":\"2017-11-10T14:20:43.957320553Z\",\"frequency\":868.1,\"modulation\":\"LORA\",\"data_rate\":\"SF9BW125\",\"coding_rate\":\"4/5\",\"gateways\":[{\"gtw_id\":\"eui-b827ebfffec28ff1\",\"timestamp\":1218059196,\"time\":\"2017-11-10T14:20:43.886053Z\",\"channel\":0,\"rssi\":-117,\"snr\":-7.8,\"rf_chain\":1,\"latitude\":38.73755,\"longitude\":-9.138655,\"altitude\":138,\"location_source\":\"registry\"},{\"gtw_id\":\"eui-0000024b080e06fa\",\"timestamp\":1431639812,\"time\":\"2017-11-10T14:20:43.87745Z\",\"channel\":0,\"rssi\":-106,\"snr\":9.8,\"rf_chain\":1,\"latitude\":38.74648,\"longitude\":-9.16781,\"altitude\":154}]},\"payload\":{\"type\":\"Buffer\",\"data\":[84,101,115,116,101,32,76,79,82,65,51,50,85,52,73,73,32,110,111,100,101,33]},\"_msgid\":\"d4e2d343.898c6\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":685.5,"y":101,"wires":[[]]},{"id":"66b5a8bf.2ff748","type":"debug","z":"9b3686b0.61c56","name":"","active":false,"console":"false","complete":"payload","x":930,"y":220,"wires":[]},{"id":"ed62c061.9050e8","type":"debug","z":"9b3686b0.61c56","name":"","active":false,"console":"false","complete":"true","x":905.5,"y":310,"wires":[]},{"id":"429ccbb7.fa59c4","type":"file","z":"9b3686b0.61c56","name":"Store node data","filename":"/home/odroid/node_data","appendNewline":true,"createDir":false,"overwriteFile":"false","x":720,"y":320,"wires":[]},{"id":"c9ab4f64.db87d","type":"ttn send","z":"9b3686b0.61c56","name":"","app":"b59d5696.cde318","dev_id":"","port":"","x":1060,"y":80,"wires":[]},{"id":"af434ae.b88c5b8","type":"function","z":"9b3686b0.61c56","name":"set Payload","func":"msg.dev_id  = msg.payload.device;\nmsg.payload = Buffer.from(\"RSSI: \" + msg.payload.rssi + \" S: \" + msg.payload.snr);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["c9ab4f64.db87d","ea1ac2d1.b8229"]]},{"id":"ea1ac2d1.b8229","type":"debug","z":"9b3686b0.61c56","name":"","active":true,"console":"false","complete":"true","x":1110,"y":180,"wires":[]},{"id":"b59d5696.cde318","type":"ttn app","z":"","appId":"MYAPPID_CHANGEME","region":"eu","accessKey":"PUT_YOUR_CREDENTIALS_HERE"}]
